<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="DataSource" value="Vibe.SupplyChain.Data.JsonData|data.json"/>
    <add key="ViewSource" value="view.json"/>
    <add key="RootEntity" value="Vibe.SupplyChain.Model.Company, Vibe.SupplyChain.Model"/>-->
    <add key="DataSource" value="Vibe.SupplyChain.Data.JsonData|transaction.json"/>
    <add key="ViewSource" value="TransactionView.json"/>
    <add key="RootEntity" value="Vibe.SupplyChain.TransactionModel.Company, Vibe.SupplyChain.TransactionModel"/>
  </appSettings>
</configuration>